/* Custom Navbar Colors */
.navbar-custom {
    background-color: #FFFFFF; /* Replace with your desired background color */
}
  
.navbar-custom 
.navbar-brand,
.navbar-custom 
.navbar-nav 
.nav-link {
    color: #e55027; /* Replace with your desired text color */
    border-bottom:;
}

.navbar-custom 
.navbar-toggler-icon {
    background-color: #e8b3a0; /* Replace with your desired color for the toggler icon */
}

.navbar-custom 
.navbar-toggler {
border-color: #D6DAC8; /* Replace with your desired border color for the toggler button */
}

.nav-link:hover{
    background-color: #EFBC9B;
}